<p>login works!</p>

<!-- <div fxLayout="column" fxLayoutAlign="center" style="margin-top:100px">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <div fxLayoutAlign="center">
        <mat-form-field style="width:50%" appearance="fill">
          <mat-label>Enter username</mat-label>
          <input formControlName="username" matInput>
          <mat-error *ngIf="form.controls['username'].invalid">Please enter a valid username</mat-error>
        </mat-form-field>
      </div>
      <div fxLayoutAlign="center" style="margin-top:10px">
        <mat-form-field style="width:50%" appearance="fill">
          <mat-label>Enter password</mat-label>
          <input type="password" formControlName="password" matInput>
          <mat-error *ngIf="form.controls['password'].invalid">Please enter a valid password</mat-error>
        </mat-form-field>
      </div>
      <div fxLayoutAlign="center" style="margin-top:20px">
        <button [disabled]="!form.valid || formSubmitted" type="submit" mat-raised-button color="primary">Login</button>
      </div>
    </form>
  </div> -->
